<!DOCTYPE html>
<html lang="zh">
    <!-- URL07_2 -->
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../../../../main.css">
    <title>观察有了钥匙的三人</title>
</head>
<body class="Volume1_body">
    <div id="app" v-cloak class="Volume1_container">
    <header>
        观察有了钥匙的三人
    </header>
    <main>
        <p>
            “打不开，门锁着。门把手上有钥匙孔，应该只要把对应钥匙插进去就行了吧。”<br>
            春人咔嚓咔嚓地转动着一动不动的门把手，对两人说。
        </p>
        <p>
            “接下来是寻宝游戏吗？”<br>
            凉介表情复杂地说。<br>
            “钥匙在刚才那个房间或者这个房间的某个地方吗？”
        </p>
        <p class="mb1"></p>
        <p>
            凉介环视
            <a v-bind:href="URL07_2.rootPass + URL07_2_sub1.filePass"
             onclick=" window.open('观察有了钥匙的三人/房间.html',null,'width=600,height=300'); return false;">
             ●房间
            </a>
            ，寻找着。<br>
            不过，他好像马上想到了什么，把视线转回两人身上，笑着说。
        </p>
        <p class="mb1"></p>
        <p>
            “还是算了吧。悠马老师，可以请你再想象一下吗？就像刚才开门一样，把钥匙嘭的一声变出来看看。拜托你了，老师。”<br>
            凉介挤挤眼，朝悠马wink了一下。
        </p>
        <p>
            “什么老师呀！”<br>
            悠马咯咯地笑着回答，似乎也不是很在意。<br>
            “我试试看。”
        </p>
        <p>
            **<span class="fantasy">但是，在这个场合下，悠马的空想没有起效。</span>
        </p>
        <p class="mb1"></p>
        <p>
            “怎么样？知道了什么吗？”<br>
            春人满怀期待地问悠马。
        </p>
        <p>
            “不，我确实想象过钥匙，但好像什么都没发生。”<br>
            悠马解释道。
        </p>
        <p>
            <strong>“话说回来，我们没带钥匙吗？”</strong>
        </p>
        <p class="mb2"></p>
        <p>
            悠马忍不住对两人说出了他从看到木板上的文字开始就自然而然想到的疑问。
        </p>
        <hr class="hr_mb">
        <p>
            对悠马的意外的话，凉介不可思议地马上反问道：<br>
            “咦？怎么回事啊悠马老师？”<br>
            完全称得上是自然反应的疑问。
        </p>
        <p>
            “不是，我们不是已经捡到钥匙了吗？”
        </p>
        <p>
            “啥？”
        </p>
        <p>
            “唔……咦？是我搞错了吗？怎么突然觉得有点恐怖……”<br>
            悠马的声音很恐慌。
        </p>
        <p class="mb1"></p>
        <p>
            凉介和春人你看看我，我看看你，同时咽了一口唾沫，<strong>然后想起来了</strong>。
        </p>
        <p class="mb1"></p>
        <p>
            “对啊！我们捡到了钥匙。”<br>
            春人举起双手，仿佛在说：“怎么会忘了呢？”
        </p>
        <p class="mb1"></p>
        <p>
            “可是，我完全不记得是在哪里捡到的。你们二位记得吗？”
        </p>
        <p>
            “我也不记得了。”
        </p>
        <p>
            “我也。”
        </p>
        <p>
            凉介和悠马耸了耸肩。
        </p>
        <p class="mb1"></p>
        <p>
            “意思是，我们遗漏了什么记忆？”<br>
            凉介对这样奇怪的事情感到不解。<br>
            感觉像是，与其说是某段记忆消失了，不如说是被强行植入了已经捡到了钥匙的思维。
        </p>
        <p class="mb1"></p>
        <p>
            “好奇怪啊，那钥匙现在在谁手里？”<br>
            春人问另外两人。
        </p>
        <p>
            “是春人你拿着哦。”<br>
            悠马紧张地说出钥匙的特征。<br>
            “一把**<input type="text" v-model="URL07_2_Key" class="inputFantasy">钥匙。”
        </p>
        <p class="mb2"></p>
        <p>
            明明还在询问钥匙在哪里的春人，结果却是拿着钥匙的人，这太不合常理了。
        </p>
        <p class="mb1"></p>
        <p>
            不协调的对话让三个人都觉得别扭。<br>
            总觉得什么地方不对劲，但又难以一下抓住这个不对劲的根源。
        </p>
        <p class="mb1"></p>
        <p>
            “原来竟是我自己啊，真不好意思。”<br>
            春人在裤子口袋里翻找着，小心翼翼地从口袋里拿出一把{{URL07_2_Key}}钥匙。
        </p>
        <p class="mb2"></p>
        <p>
            “虽然我们既不知道这个房间的谜题是什么意思，也什么也没做。”<br>
            春人整理了一下状况。<br>
            “虽然无法释然，但我们有钥匙了。这样就很不错了！搞不好也许是我们在什么未知的地方找到了正确答案呢。”
        </p>
        <p class="mb2"></p>
        <p>
            春人把{{URL07_2_Key}}钥匙插进钥匙孔转动了一下，“咔”的一声，门开了。
        </p>
     </main>
    <footer>
        <p v-if="URL07_2_Key === '小'">
            <a v-bind:href="URL07_2.rootPass + URL08_1.filePass">观察用小钥匙进入了第四个房间的三人</a>
        </p>
        <p v-else-if="URL07_2_Key === '黑色'">
            <a v-bind:href="URL07_2.rootPass + URL08_2.filePass">观察用黑色钥匙进入了第四个房间的三人</a>
        </p>
        <p v-else>
            <a v-bind:href="URL07_2.rootPass + '四番目の部屋に' + URL07_2_Key + '鍵で入った三人を観測する.html'">观察用{{URL07_2_Key}}钥匙进入了第四个房间的三人</a>
        </p>
        <p>
            <a v-bind:href="URL07_2.rootPass + URL99.filePass">返回目录</a>
        </p>
    </footer>
</div>
<script src="../../../../../vue.min.js"></script>
<script src="../../../../../main.js"></script>
</body>
</html>