<!DOCTYPE html>
<html lang="zh">
    <!-- URL08_2 -->
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../../../../main.css">
    <title>观察用黑色钥匙进入了第四个房间的三人</title>
</head>
<body class="Volume1_body">
    <div id="app" v-cloak class="Volume1_container">
    <header>
        观察用黑色钥匙进入了第四个房间的三人
    </header>
    <main>
        <p>
            在他们看来，第四个房间的和之前的房间完全不同。<br>
            有教室那么大，有两个出入口。恐怕是又通往下一个房间的门吧。
        </p>
        <p class="mb1"></p>
        <p>
            而且，和之前不同，这个房间的地板上摆满了剪刀、铅笔、镜子等小物件。
        </p>
        <p>
            看到正面墙上也有着写着留言的板子后，三个人小心翼翼地慢慢走过去，生怕踩到地上的小物件。
        </p>
        <p class="mb3"></p>
        <p>
            这个房间白字写的内容很简单。
        </p>
        <div class="board board5">
            <!--
                成双成对的小物件。被排挤的是谁？
            -->
            ５．忆称，小是＿ＡＢＣＤＥＦＧＨ
        </div>
        <hr class="hr_mb">
        <p>
            “解谜确实和房间里的小物件有关。”<br>
            转动木板旁边那扇门的门把手，确认门锁上之后，春人看着散落在地板上的东西说。
        </p>
        <p class="mb1"></p>
        <p>
            “好像每样都有两个。”<br>
            凉介环视整个
            <a v-bind:href="URL08_1.rootPass + URL08_1_sub1.filePass"
             onclick=" window.open('观察用黑色钥匙进入了第四个房间的三人/房间.html',null,'width=600,height=300'); return false;">
             ●房间
            </a>
            回答道:“嗯？”他挑了挑眉毛。<br>
            “不……纵7列，横7列，合计应该是49个，两个一对的话应该会多出一个吧？”
        </p>
        <p class="mb1"></p>
        <p>
            “那个物品可能‘被排挤’了。”<br>
            春人说，<br>
            “应该只要找到了是哪件物品，那扇门就会打开。”
        </p>
        <p class="mb3"></p>
        <p>
            “嗯？我现在才注意到，我的幻想者的设定适用于这里的道具。”<br>
            悠马看着摆满一地的小东西，一脸惊讶地说。<br>
            有种难受反胃的感觉。<br>
            “也许可以改写。比如，**<input type="text" v-model="URL08_2_Item17" class="inputFantasy">和**<input type="text" v-model="URL08_2_Item17" class="inputFantasy">就像这样。”<br>
        </p>
        <p>
            “啥？”
        </p>
        <p class="mb2"></p>
        **
        <div class="itemInputBox">
            <p><input type="text" v-model="URL08_2_Item17"></p>
            <p><input type="text" v-model="URL08_2_Item15"></p>
            <p><input type="text" v-model="URL08_2_Item01"></p>
            <p><input type="text" v-model="URL08_2_Item23"></p>
            <p><input type="text" v-model="URL08_2_Item02"></p>
            <p><input type="text" v-model="URL08_2_Item08"></p>
            <p><input type="text" v-model="URL08_2_Item03"></p>
            <p><input type="text" v-model="URL08_2_Item17"></p>
            <p><input type="text" v-model="URL08_2_Item23"></p>
            <p><input type="text" v-model="URL08_2_Item04"></p>
            <p><input type="text" v-model="URL08_2_Item18"></p>
            <p><input type="text" v-model="URL08_2_Item05"></p>
            <p><input type="text" v-model="URL08_2_Item06"></p>
            <p><input type="text" v-model="URL08_2_Item07"></p>
            <p><input type="text" v-model="URL08_2_Item08"></p>
            <p><input type="text" v-model="URL08_2_Item24"></p>
            <p><input type="text" v-model="URL08_2_Item09"></p>
            <p><input type="text" v-model="URL08_2_Item21"></p>
            <p><input type="text" v-model="URL08_2_Item10"></p>
            <p><input type="text" v-model="URL08_2_Item22"></p>
            <p><input type="text" v-model="URL08_2_Item05"></p>
            <p><input type="text" v-model="URL08_2_Item11"></p>
            <p><input type="text" v-model="URL08_2_Item19"></p>
            <p><input type="text" v-model="URL08_2_Item12"></p>
            <p><input type="text" v-model="URL08_2_Item00"></p>
            <p><input type="text" v-model="URL08_2_Item13"></p>
            <p><input type="text" v-model="URL08_2_Item06"></p>
            <p><input type="text" v-model="URL08_2_Item14"></p>
            <p><input type="text" v-model="URL08_2_Item03"></p>
            <p><input type="text" v-model="URL08_2_Item12"></p>
            <p><input type="text" v-model="URL08_2_Item01"></p>
            <p><input type="text" v-model="URL08_2_Item15"></p>
            <p><input type="text" v-model="URL08_2_Item02"></p>
            <p><input type="text" v-model="URL08_2_Item16"></p>
            <p><input type="text" v-model="URL08_2_Item18"></p>
            <p><input type="text" v-model="URL08_2_Item19"></p>
            <p><input type="text" v-model="URL08_2_Item20"></p>
            <p><input type="text" v-model="URL08_2_Item07"></p>
            <p><input type="text" v-model="URL08_2_Item14"></p>
            <p><input type="text" v-model="URL08_2_Item21"></p>
            <p><input type="text" v-model="URL08_2_Item11"></p>
            <p><input type="text" v-model="URL08_2_Item04"></p>
            <p><input type="text" v-model="URL08_2_Item22"></p>
            <p><input type="text" v-model="URL08_2_Item16"></p>
            <p><input type="text" v-model="URL08_2_Item13"></p>
            <p><input type="text" v-model="URL08_2_Item20"></p>
            <p><input type="text" v-model="URL08_2_Item24"></p>
            <p><input type="text" v-model="URL08_2_Item09"></p>
            <p><input type="text" v-model="URL08_2_Item10"></p>
        </div>
        <p class="mb2"></p>
        <p>
            看到悠马突然干脆地说出这么荒唐的话，凉介有些着急。<br>
            “喂喂，这次是悠马又开始了吗？不要丢下我一个人啊！”
        </p>
        <p class="mb1"></p>
        <p>
            春人对凉介的话充耳不闻，对着天空大声说道：<br>
            “观察者呀。在这个房间里，我想要你改成‘观察得到了XXX的三人’。XXX是那个‘被排挤’的工具。不要删除‘.html’。拜托你了！”
        </p>
     </main>
    <footer>
        <p>
            <a v-bind:href="URL08_2.rootPass + URL99.filePass">返回目录</a>
        </p>
    </footer>
</div>
<script src="../../../../../vue.min.js"></script>
<script src="../../../../../main.js"></script>
</body>
</html>

<style>
    .itemInputBox input{
        width:100px;
    }
</style>